:root {
    --darkBlue: #1c71ad;
    --lightBlue: #228ad4;
    --darkRed: #bd1917;
    --lightRed: #e02e2b;
}

.deckList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
    z-index: -1;
}

.deck {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    width: 80vw;
    padding: 0.8rem;
    margin: 0.5rem;
    border: solid 0.1rem #AAAAAA;
    border-radius: 1rem;
    box-shadow: 0 2px 2px #AAAAAA;
    background: white;
}

.wrapper h3 {
    font-size: 0.8rem;
}

.wrapper h4 {
    font-size: 0.8rem;
    font-weight: 400;
    color: #121212;
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
}

.deckButton {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
    border: none;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    background: var(--darkBlue);
    cursor: pointer;
}

.deckButton:hover {
    background: var(--lightBlue);
}

#edit {
    color: white;
}

#edit:link {
    text-decoration: none;
}

#edit:visited {
    color: inherit;
}

#delete {
    background: var(--darkRed);
}

#delete:hover {
    background: var(--lightRed)
}

@media screen and (max-width: 767px) {
    .deck {
        grid-template-columns: 2fr 1fr;
    }

    .date {
        display: none;
    }    
}