:root {
    --darkBlue: #1c71ad;
    --lightBlue: #228ad4;
}

.imageWrapper {
    height: 100vh;
    max-width: 50vw;
    z-index: -1;
}

.image {
    height: 100vh;
    max-width: 50vw;
    object-fit: cover;
}

.container {
    display: grid;
    grid-template-columns: 50vw 50vw;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    background: var(--darkBlue);
    color: white;
    height: 100vh;
    max-width: 50vw;
    z-index: -1;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.textButton {
    background: white;
    width: 8rem;
    height: 3rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--darkBlue);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
}